@font-face {
  font-family: 'Font Awesome\ 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("../../../assets/shared/fonts/fa/webfonts/fa-regular-400.eot");
  src: url("../../../assets/shared/fonts/fa/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
       url("../../../assets/shared/fonts/fa/webfonts/fa-regular-400.woff2") format("woff2"),
       url("../../../assets/shared/fonts/fa/webfonts/fa-regular-400.woff") format("woff"),
       url("../../../assets/shared/fonts/fa/webfonts/fa-regular-400.ttf") format("truetype"),
       url("../../../assets/shared/fonts/fa/webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

.about-wrap h3 {
	line-height: 26px;
}
#customizr-admin-panel.about-wrap .feature-section {
		margin-top: 0px;
    padding: 0;
}
.about-wrap .feature-section div {
	text-align: center;
}

.about-text.tc-welcome {
	margin: 1em 0;
}

.about-wrap .feature-section.three-col img.tc-donate {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	max-width: none;
	float: none;
}


.images-stagger-right img {
	float: right;
	padding-left: 20px;
}

.images-stagger-left img {
	float: left;
	padding-right: 20px;
}

.tc-follow {
	margin-bottom: 11px;
}

.button-primary.review-customizr {
	margin-top: 9px;
}

.tc-upgrade-notice {
	background-color: #FFFFE0;
	border: 1px solid #E6DB55;
	padding: 0px;
	margin: 5px 0px;
	text-align: center;
}

.tc-upgrade-notice p {
	line-height: 1em;
}

/* ADMIN BAR
    -------------------------------------------------- */
h1.need-help-title:before,
#wp-admin-bar-tc-customizr-help .ab-item:before, li#wp-admin-bar-tc-customizr-help a:before {
  font-family: 'Font Awesome\ 5 Free';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  content: "\f1cd";
}

#wp-admin-bar-tc-customizr-help .ab-item:before, li#wp-admin-bar-tc-customizr-help a:before {
  padding-right: 0px;
  margin-right: 0;
  top: 2px;
  color: #FFF;
}

li#wp-admin-bar-tc-customizr-help a {
  color: #FFF;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #8DA65A;
  background-image: -moz-linear-gradient(top, #008ec2,#006799);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008ec2), to(#006799));
  background-image: -webkit-linear-gradient(top, #008ec2,#006799);
  background-image: -o-linear-gradient(top, #008ec2,#006799);
  background-image: linear-gradient(to bottom,#008ec2,#006799);
  background-repeat: repeat-x;
  border-color: #006799;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
h1.need-help-title {
  line-height: 1.5em;
  font-size: 2.2em;
}
h1.need-help-title:before {
	padding-right: 17px;
	top: 1px;
	font-size: 1.2em;
	color:#008ec2;
}

#customizr-admin-panel .button-secondary.customizr-help {
	line-height: 25px;
	padding-top: 11px;
	height: 51px;
	font-size: 20px;
	font-family: 'georgia';
	width: 95%;
	white-space: normal;
}

.about-wrap .feature-section .tc-follow img {
	background: none;
	max-width: none;
	float: none;
}

.about-wrap #showcase .feature-section img {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* GO PRO BTN */
.wp-core-ui .updated .hu-go-pro-btn, .wp-core-ui #customizr-admin-panel .hu-go-pro-btn {
  line-height: 24px;
  height: 30px;
  padding: 1px 20px;
  display: inline-block;
  color: #fff;
  background: #f0ad4e;
  border: 1px solid #eea236;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -4px;
  font-weight: 400;
  margin-left: 8px;
  text-shadow:none;
}

.wp-core-ui .updated .hu-go-pro-btn:hover,
.wp-core-ui .updated .hu-go-pro-btn:focus,
.wp-core-ui #customizr-admin-panel .hu-go-pro-btn:hover,
.wp-core-ui #customizr-admin-panel .hu-go-pro-btn:focus {
  color: #fff;
  background: #ed9c28;
  border-color: #d58512;
  text-shadow:none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* UPDATE NOTICE */
.czr-update-notice h3, .czr-update-notice h4 {
  font-weight: normal;
}
.czr-update-notice .button {
  font-weight: normal;
}
.czr-update-notice .button.upgrade-to-pro {
/*  font-size: 15px;
  line-height: 24px;*/
  height: 40px;
  font-size: 1.2em;
  padding: 5px 22px;
  display: inline-block;
  color: #de8200;
  color: #fff;
  background: #eea236;
  border: 1px solid #eea236;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: -4px;
  font-weight: 400;
  margin-left: 8px;
  text-shadow : none;
}
.czr-update-notice .button.upgrade-to-pro:hover {
    color: #fff;
    background: #ed9c28;
    border-color: #d58512;
}
a.czr-rating-link {
    color: #eea236;
}
a.czr-rating-link:hover {
    color: #d58512;
}
/* This custom checkbox input is inspired from the one used in the Gutenberg plugin ( https://github.com/WordPress/gutenberg ), released under GNU General Public License
credits : Gutenberg team @wordpress */
.czr-toggle-check {
    position: relative;
    float: none;
}
.czr-toggle-check input[type=checkbox] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.czr-toggle-check input[type=checkbox]:checked:before {
    content: "\f147";
    margin: -3px 0 0 -4px;
    color: #1e8cbe;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: normal 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.czr-toggle-check .czr-toggle-check__track {
    content: "";
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #6c7781;
    width: 36px;
    height: 18px;
    border-radius: 9px;
    transition: background .2s ease;
}
.czr-toggle-check.is-checked .czr-toggle-check__track {
    background-color: #33b3db;
    border: 2px solid #33b3db;
    border: 9px solid transparent;
}
.czr-toggle-check .czr-toggle-check__thumb {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: transform .1s ease;
    background-color: #6c7781;
    border: 5px solid #6c7781;
    box-sizing: border-box;
}
.czr-toggle-check.is-checked .czr-toggle-check__thumb {
    background-color: #fff;
    border-width: 0;
    transform: translateX(18px);
}
.czr-toggle-check .czr-toggle-check__off {
    color: #6c7781;
    fill: currentColor;
    right: 6px;
}
.czr-toggle-check .czr-toggle-check__on {
    left: 8px;
    -webkit-filter: invert(100%) contrast(500%);
    filter: invert(100%) contrast(500%);
    outline: 1px solid transparent;
    outline-offset: -1px;
}
.czr-toggle-check .czr-toggle-check__off,
.czr-toggle-check .czr-toggle-check__on {
    position: absolute;
    top: 6px;
}


/* REC NOTICE */
.czr-nimble-rec-notice {
  position: relative;
}

.czr-nimble-rec-notice .czr-tgmpa-img-block {
  right: 17px;
  position: absolute;
  top: 40px;
  max-height: 145px;
}
.czr-rec-text-block {
  width: calc( 100% - 252px );
}
.czr-rec-button {
  display: block;
  margin: 0.5em 0.5em 0 0;
  padding-bottom: 5px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  flex: 0 0 100%;
  max-width: 100%;
}
span.czr-rec-button a {
  padding: 0px 7px;
}
.notice.czr-nimble-rec-notice {
  border-left-color: #006799 !important;
  padding: 20px;
}
.rtl .notice.czr-nimble-rec-notice {
  border-right-color: #006799 !important;
}
.notice.czr-nimble-rec-notice .czr-nimble-rec-notice-inner {
  display: table;
  width: 100%;
}
.czr-nimble-rec-notice .czr-nimble-rec-notice-icon {
  width: 40px;
  position: absolute;
  top: 11px;
}
.czr-nimble-rec-notice .czr-nimble-rec-notice-title {
  padding-left: 40px;
}
.notice.czr-nimble-rec-notice .czr-nimble-rec-notice-content {
  padding: 0 20px;
}
.notice.czr-nimble-rec-notice p {
  padding: 0;
  margin: 0;
}
.notice.czr-nimble-rec-notice h3 {
  margin: 0 0 5px;
  line-height: 1.6em;
}

@media screen and (max-width: 782px) {
    .czr-rec-text-block {width: 100%;}
    .notice.czr-nimble-rec-notice p { text-align: center;}
    .czr-nimble-rec-notice .czr-nimble-rec-notice-icon{top:auto }
    .notice.czr-nimble-rec-notice h3 {margin: 0 0 16px;text-align: center;}
    .czr-rec-button{
      text-align: center;
      width: 100%;
      display: block;
      margin-top: 10px;
    }
    .czr-nimble-rec-notice .czr-tgmpa-img-block{ display: none;}
}