@charset "ISO-8859-1";
/* CSS Document */

body {
	background: #333;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFF;
}
#canvas_holder {
	margin: 0 auto;
	width: 600px;
	height: 400px;
	background: #FFF;
}
#canvas {
}
#feedback {
}
h1 {
	text-align: center;
}
p {
	text-align: center;
}
