/* OVERRIDE WP CUSTOMIZER */
/* LINKS */
.wp-customizer a {
  color: #000;
}
.wp-customizer a:hover, .wp-customizer a:focus {
  color: #0073aa;
}

/* LAYOUT */
.wp-customizer .wp-full-overlay.expanded {
  margin-left: 440px;
}
.wp-customizer .wp-full-overlay-sidebar {
  width: 440px;
}
.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-left: -440px;
}
/*.in-sub-panel #customize-info,
.in-sub-panel #customize-theme-controls > ul > .accordion-section {
  left: -440px;
  width: 440px;
}*/
#customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
  left: -440px;
}
.accordion-sub-container.control-panel-content {
  left: 440px;
}


/* RTL*/
.rtl.wp-customizer .wp-full-overlay.expanded {
  margin-right: 440px;
  margin-left: 0;
}
.rtl.wp-customizer .wp-full-overlay-sidebar {
  width: 440px;
}
.rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  margin-right: -440px;
  margin-left: 0;
}
/*.rtl .in-sub-panel #customize-info,
.rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
  right: -440px;
  width: 440px;
}*/
.rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
  right: -440px;
}
.rtl .accordion-sub-container.control-panel-content {
  right: 440px;
}

/* CUSTOM CSS ( since wp 4.7 ) */
.customize-section-description-container + #customize-control-custom_css:last-child {
  margin: 0;
  width: 100%;
}
li#customize-control-custom_css textarea {
  font-size: 13px;
  background: #394143;
  color: #95ff0c;
  min-height: 300px;
}

@media screen and (max-width: 1400px) {
  .wp-customizer .wp-full-overlay.expanded {
    margin-left: 380px;
  }
  .wp-customizer .wp-full-overlay-sidebar {
    width: 380px;
  }
  .wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -380px;
  }
/*  .in-sub-panel #customize-info,
  .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    left: -380px;
    width: 380px;
  }*/
  #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    left: -380px;
  }
  .accordion-sub-container.control-panel-content {
    left: 380px;
  }

  /* RTL */
  .rtl.wp-customizer .wp-full-overlay.expanded {
    margin-right: 380px;
    margin-left: 0;
  }
  .rtl.wp-customizer .wp-full-overlay-sidebar {
    width: 380px;
  }
  .rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-right: -380px;
    margin-left: 0;
  }
/*  .rtl .in-sub-panel #customize-info,
  .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    right: -380px;
    width: 380px;
  }*/
  .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    right: -380px;
  }
  .rtl .accordion-sub-container.control-panel-content {
    right: 380px;
  }
}

@media screen and (max-width: 979px) {
  .wp-customizer .wp-full-overlay.expanded {
    margin-left: 300px;
  }
  .wp-customizer .wp-full-overlay-sidebar {
    width: 300px;
  }
  .wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-left: -300px;
  }
/*  .in-sub-panel #customize-info,
  .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    left: -300px;
    width: 300px;
  }*/
  #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    left: -300px;
  }
  .accordion-sub-container.control-panel-content {
    left: 300px;
  }

  /* RTL */
  .rtl.wp-customizer .wp-full-overlay.expanded {
    margin-right: 300px;
    margin-left: 0;
  }
  .rtl.wp-customizer .wp-full-overlay-sidebar {
    width: 300px;
  }
  .rtl.wp-customizer .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
    margin-right: -300px;
    margin-left: 0;
  }
/*  .rtl .in-sub-panel #customize-info,
  .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
    right: -300px;
    width: 300px;
  }*/
  .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
    right: -300px;
  }
  .rtl .accordion-sub-container.control-panel-content {
    right: 300px;
  }
}

/* at max-width 640px the wp-full-overlay-sidebar becomes 100% */
 @media screen and (max-width: 640px) {
    .wp-customizer .customize-controls-preview-toggle {
      height: 46px;
      border-bottom: 1px solid #ddd;
      left: 87px;
    }

   .wp-customizer .wp-full-overlay.expanded {
     margin-left: 0;
   }

/*   .in-sub-panel #customize-info,
   .in-sub-panel #customize-theme-controls > ul > .accordion-section {
     left: -100%;
     width: 100%;
   }*/

   #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
     left: -100%;
   }
   .accordion-sub-container.control-panel-content {
     left: 100%;
   }

   /* RTL */
   .rtl.wp-customizer .wp-full-overlay.expanded {
     margin-right: 0;
   }

/*   .rtl .in-sub-panel #customize-info,
   .rtl .in-sub-panel #customize-theme-controls > ul > .accordion-section {
     right: -100%;
     width: 100%;
     left: auto;
   }*/
   .rtl .in-sub-panel #czr-donate-customizer,
   .rtl .in-sub-panel .czr-cta-wrap,
   .rtl #customize-theme-controls .control-section.current-panel > h3.accordion-section-title {
     right: -100%;
     left: auto;
   }
   .rtl .accordion-sub-container.control-panel-content {
     right: 100%;
   }
 }


/* PANELS, SECTIONS and CONTROLS TITLES */
.wp-customizer .control-section.control-panel .accordion-section-title .panel-title {
  font-size: 24px;
  font-weight: inherit;
  line-height: 30px;
}

.wp-core-ui h3 {
	color: #555;
}
.accordion-section-content {
	padding: 10px 10px 15px 20px;
}
.widget-action, .handlediv, .item-edit, .sidebar-name-arrow, .accordion-section-title:after {
	color: #00a0d2;
}
.control-section.control-panel > .accordion-section-title:after {
	color: #00a0d2;
}
.customize-control-title {
	line-height: 19px;
  font-family: Roboto;
    font-weight: normal;
}
.customize-control span.customize-control-title:first-child {
  position: relative;
  padding: 10px 0px 5px;
  /*margin-left: 14px;*/
}

/* since v4.3 */
.wp-customizer #customize-theme-controls .accordion-section-content {
  background: #fff;
}
/*.wp-customizer .customize-panel-back {
  height: 60px;
}*/
.wp-customizer #customize-controls .customize-info .customize-help-toggle:hover, .wp-customizer #customize-controls .customize-info.open .customize-help-toggle, .wp-customizer #customize-controls .customize-info .customize-help-toggle:focus {
  color:#00a0d2;
}
.wp-customizer .customize-screen-options-toggle:focus:before, .wp-customizer #customize-controls .customize-info .customize-help-toggle:focus:before {
  -webkit-box-shadow: 0 0 0 1px #00a0d2;
  box-shadow: 0 0 0 1px #00a0d2;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.wp-customizer .menu-item-handle:hover .item-type, .wp-customizer .menu-item-handle:hover .item-edit, .wp-customizer #available-menu-items .menu-item-handle:hover .item-add, .wp-customizer .menu-item-handle:hover{
  color: #00a0d2;
}

.customize-screen-options-toggle:hover, .customize-screen-options-toggle:active, .customize-screen-options-toggle:focus, .active-menu-screen-options .customize-screen-options-toggle, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:hover, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:active, #customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:focus {
  color: #00a0d2!important;
}

.customize-control input[type="text"] {
  line-height: 23px;
}

/*<@4.9compat>*/
/* outer section introduced in v4.9 needs to keep its original width */
#customize-outer-theme-controls li[id*="customize-control-"] {
  width: 100%;
}
#customize-outer-theme-controls input[type=checkbox], #customize-outer-theme-controls input[type=radio] {
    float: none;
    min-height: inherit;
}
/*</@4.9compat>*/

/* GENERAL STYLE */
.control-section .accordion-section-content {
	overflow-y: auto;
}

.wp-customizer .control-section h3.accordion-section-title {
	padding: 10px 25px 11px 14px;

}
.wp-customizer #customize-controls h3 {
  font-size: 15px;
  font-weight: 400;
}

.control-section .accordion-section-title:after {
	top: 7px;
}
.control-section.control-panel .accordion-section-title:after {
	top: 11px;
	-webkit-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-ms-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	-o-transition: right .3s ease-in-out, opacity .3s ease-in-out;
	transition: right .3s ease-in-out, opacity .3s ease-in-out;
	right: 10px;
	opacity:0.7;
}
.rtl .control-section.control-panel .accordion-section-title:after {
	-webkit-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-moz-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-ms-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	-o-transition: left .3s ease-in-out, opacity .3s ease-in-out;
	transition: left .3s ease-in-out, opacity .3s ease-in-out;
	left: 10px;
	right: initial;
}
#customize-theme-controls .control-section.control-panel h3.accordion-section-title:hover:after ,  #customize-theme-controls .control-section.control-panel h3.accordion-section-title:focus:after {
	right: 8px;
	opacity:1;
	color: #666!important;
}

.rtl #customize-theme-controls .control-section.control-panel h3.accordion-section-title:hover:after , .rtl #customize-theme-controls .control-section.control-panel h3.accordion-section-title:focus:after {
  left: 6px;
  right: initial;
}
/* Overrides WP built in style : hack for nested section arrow */
#customize-theme-controls .control-section.control-panel>h3.accordion-section-title:focus:after, #customize-theme-controls .control-section.control-panel>h3.accordion-section-title:hover:after, .control-section.control-panel>.accordion-section-title:after {
	background: none!important;
	border: none!important;
}

#customize-theme-controls h3.accordion-section-title {
	/*font-family: "Open Sans", sans-serif;*/
	-webkit-transition: background .1s ease-in-out;
	-moz-transition: background .1s ease-in-out;
	-ms-transition: background .1s ease-in-out;
	-o-transition: background .1s ease-in-out;
	transition: background .1s ease-in-out;
}

/*#customize-theme-controls > .control-section:hover .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:hover::after, #customize-theme-controls .control-section.open .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:focus::after {
	color: #FFF;
}*/


.customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label {
	line-height: 16px;
  margin-left: 0;
}

/* Placeholders Styling for inputs */
input::-webkit-input-placeholder {
   color:#9A9A9A;
   font-style: italic;
}
input:-moz-placeholder { /* Firefox 18- */
   color: #9A9A9A;
   font-style: italic;
}
input::-moz-placeholder {  /* Firefox 19+ */
   color: #9A9A9A;
   font-style: italic;
}
input:-ms-input-placeholder {
   color: #9A9A9A;
   font-style: italic;
}


.customize-control select {
  cursor: pointer;
  width: 99%;
}









.czr-customizr-title {
	/* color: #555; */
	text-transform: uppercase;
	/* text-shadow: 0 1px 0 #FFF; */
	margin: 1em 0em 5px 0em;
	font-size: 15px!important;
	border-bottom: 1px dotted #555;
	padding-bottom: 5px;
  text-align: center;
}
h3.czr-customizr-title::before {
  content: '\00b7';
  padding-right: 3px;
}
h3.czr-customizr-title::after {
  content: '\00b7';
  padding-left: 3px;
}
.czr-after-button {
	border-color: white;
	margin-top:15px;
}
.czr-emphasize {
	line-height: 1.2em;
	color: #2E2E2E;
}
i.czr-notice {
	display: block;
	clear: both;
}
span.czr-notice {
	color: #313131;
	font-size:12px;
	font-style: italic;
	clear: both;
	display: block;
	line-height: 18px;
}

.czr-html-before hr, .czr-html-after hr {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #fafafa;
    margin: 25px 0;
}

.czr-customizer-separator-invisible {
	border:none;
	margin-top:15px;
}
.czr-skin-gen-label {
	float: left;
}
.czr-skin-gen-color-picker {
	float: right;
}
.czr-number-label {
	float: left;
}
.czr-number-input {
	float: right;
}
.czr-check-label {
	float: left;
	max-width: 85%;
}
/* RTL position fix */
.rtl .czr-check-label {
	float: right;
}
input[type=checkbox], input[type=radio] {
	float: right;
	min-height: 18px;
}
.czr-font-select {
	float: left;
}

/* CUSTOM CSS TEXT AREA */
li#customize-control-tc_theme_options-tc_custom_css textarea {
	font-size: 14px;
	background: #394143;
	color: #E2E728;
	min-height: 300px;
}













.customize-control .czr-navigate-to-post-list {
  color: #00a0d2;
  font-weight: bold;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 8px;
}

.czr-sub-control {
  padding-left: 13%;
  max-width: 87%;
  position: relative;
}

.czr-sub-control:before {
  content: '';
  height: 116%;
  background: #00a0d2;
  width: 2%;
  position: absolute;
  left: 7%;
}

/* Cropped Image style */
/* Unified with the default cropped_image CSS */
.customize-control-tc_cropped_image .upload-button {
  float: right;
}
.customize-control-tc_cropped_image .remove-button {
  float: left;
  margin-right: 3px;
}
.customize-control-tc_cropped_image .actions {
  margin-bottom: 32px;
}
.customize-control-tc_cropped_image .current {
  margin-bottom: 8px;
}
.customize-control-tc_cropped_image .upload-button,
.customize-control-tc_cropped_image .remove-button {
  white-space: normal;
  width: 48%;
  height: auto;
}

.customize-control-tc_cropped_image .current .container {
  min-height: 40px;
  overflow: hidden;
  border: 1px solid #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.customize-control-tc_cropped_image img {
  width: 100%;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.customize-control-tc_cropped_image .inner {
  line-height: 20px;
  top: 10px;
}
/* rtl */
/* end tc cropped image */
.rtl .customize-control-tc_cropped_image .upload-button {
  float: left;
}
.rtl .customize-control-tc_cropped_image .remove-button {
  float: right;
  margin-left: 3px;
}





/* LAYOUT SELECTION SPECIFICS */
.czr-layout-img {
  height: 22px;
  margin-top: 2px;
  outline: 1px solid #FFF;
}
.czr-layout-title {
  padding: 0 0px 18px 12px;
  display: inline-block;
  line-height: 0px;
  vertical-align: middle;
}



/* MULTI INPUT */
.customize-control-czr_multi_input {
    width: 96%;
    border: 1px solid #ccc;
    padding: 2%;
}
.czr-multi-input-wrapper {
  width: 95%;
  padding: 0px 0% 0 5%;
}
.czr-multi-input-wrapper [data-input-type="color"] .czr-input {
  float: left;
  clear: both;
}



/* SPECIFIC PANELS AND SECTIONS MARGIN */
#customize-theme-controls #accordion-panel-czr-footer-panel {
  border-bottom: 1px solid #ddd;
}
#customize-theme-controls .control-panel-widgets,
#customize-theme-controls #accordion-panel-nav_menus,
#customize-theme-controls #accordion-panel-hu-advanced-panel {
  margin-top: 10px;
}
#customize-theme-controls #accordion-panel-hu-header-panel,
#customize-theme-controls .control-panel-widgets,
#customize-theme-controls #accordion-panel-nav_menus,
#customize-theme-controls #accordion-panel-hu-advanced-panel {
  border-top: 1px solid #ddd;
}
#customize-theme-controls #accordion-panel-hu-general-panel,
#customize-theme-controls #accordion-panel-tc-global-panel {
  margin-bottom: 10px;
}

#customize-theme-controls #accordion-section-static_front_page,
#customize-theme-controls #accordion-section-frontpage_sec {
  margin-bottom: 10px;
}

/* FPU */
#customize-theme-controls #accordion-section-tc_fpu {
  margin-bottom: 10px;
}

/* WFC */
#customize-theme-controls #accordion-section-tc_font_customizer_settings {
  margin-bottom: 10px;
}

/* NIMBLE */
#customize-theme-controls #accordion-panel-__sektions__ {
  margin-bottom: 10px;
}

/* HEADER => HOME AND ADD MODULE BUTTON */
#customize-header-actions .customize-controls-close {
  left: 45px;
}

.customize-controls-home-or-add, .customize-controls-close {
  top: -1px;
}
.customize-controls-home-or-add {
    display: block;
    position: absolute;
    left: 0;
    width: 45px;
    height: 41px;
    padding: 0 2px 0 0;
    background: #eee;
    border: none;
    border-top: 4px solid #eee;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #444;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color .15s ease-in-out, border-color .15s ease-in-out, background .15s ease-in-out;
    transition: color .1s ease-in-out, border-color .15s ease-in-out, background .15s ease-in-out;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/* for the Nimble button */
.customize-controls-home-or-add > .material-icons {
  line-height: 39px;
  text-align: center;
  display: block;
}

.customize-controls-home-or-add:before {
    font-size: 17px;
    line-height:45px;
    position: relative;
    top: -4px;
    left: 15px;
}
.customize-controls-home-or-add:hover {
    background: #fff;
    color: #0073aa;
    border-top-color: #0073aa;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* rtl: home button */
.rtl.wp-customizer #customize-header-actions .customize-controls-close {
  right: 45px;
  left: auto;
}
.rtl.wp-customizer .customize-controls-home-or-add {
  left: auto;
  right: 0;
  border-right: 0;
  border-left: 1px solid #ddd;
}




/* HEADER MENU NOTICE */
.control-panel-content .hu-menu-notice {
    margin-left: 3%;

}

/* PANEL SUBTITLE */
span.czr-panel-subtitle {
    display: block;
    font-size: 12px;
    font-style: italic;
}

/* PRO BLOCK BEFORE SECTIONS AND PANELS TITLE */
.pro-title-block {
    border: 1px solid #eea236;
    padding: 0px 6px;
    font-size: 0.7em;
    display: inline-block;
    margin-right: 3px;
    bottom: 2px;
    position: relative;
    color: #f0ad4e;
    webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


/* GOPRO SECTION STYLE */
/* for both hueman and customizr */
#customize-controls .control-section-czr-customize-section-pro .accordion-section-title:hover,
#customize-controls .control-section-czr-customize-section-pro .accordion-section-title:focus {
  background-color: #fff;
}
#customize-theme-controls .control-section-czr-customize-section-pro .accordion-section-title:after {
  content: none;
}
#accordion-section-go_pro_sec .accordion-section-title{
  margin: 0 0 15px;
}
.control-section-czr-customize-section-pro .accordion-section-title .button {
  font-size: 15px;
  line-height: 24px;
  height: 30px;
  padding: 1px 20px;
  display: inline-block;
  color: #f59000;
  background: #fff;
  border: 1px solid #eea236;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top:  -4px;
  font-weight: 400;
  margin-left: 8px;

}
.control-section-czr-customize-section-pro .accordion-section-title .button:hover {
    color: #fff;
    background: #ed9c28;
    border-color: #d58512;
}
.rtl .control-section-czr-customize-section-pro .accordion-section-title .button {
  margin-left:  0;
  margin-right: 8px;
}

/* END GO PRO SECTION STYLE */








/* <CSS LOADER> */
@-webkit-keyframes czr-mr-loader {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes czr-mr-loader {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}
.czr-css-loader {
  display: none;
  width: 50px;
  height: 50px;
/*  background-color: #333;*/
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
}

.csstransforms3d .czr-css-loader {
  display: block;
}

.czr-mr-loader > div:nth-child(0) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.czr-mr-loader > div:nth-child(1) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.czr-mr-loader > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.czr-mr-loader > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.czr-mr-loader > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  /*top: -4%;
  left: -4%;*/
  top: -0%;
  left: -0%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #777;
  -webkit-animation: czr-mr-loader 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  animation: czr-mr-loader 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
/* </CSS LOADER> */

















/* <OLD DONATE LINK> */
.in-sub-panel #czr-donate-customizer,
 .in-sub-panel .czr-cta-wrap {
   left: -450px;
   height: 0;
 }


.rtl .in-sub-panel #czr-donate-customizer,
 .rtl .in-sub-panel .czr-cta-wrap {
   right: -450px;
 }


@media screen and (max-width: 1400px) {

  .in-sub-panel #czr-donate-customizer,
  .in-sub-panel .czr-cta-wrap {
    left: -380px;
  }

  .rtl .in-sub-panel #czr-donate-customizer,
  .rtl .in-sub-panel .czr-cta-wrap {
    right: -380px;
  }
}




@media screen and (max-width: 979px) {


  .in-sub-panel #czr-donate-customizer,
  .in-sub-panel .czr-cta-wrap {
    left: -300px;
  }

  .rtl .in-sub-panel #czr-donate-customizer,
  .rtl .in-sub-panel .czr-cta-wrap {
    right: -300px;
  }
}

/* at max-width 640px the wp-full-overlay-sidebar becomes 100% */
 @media screen and (max-width: 640px) {
   .in-sub-panel .czr-cta-wrap,
   .in-sub-panel #czr-donate-customizer {
     left: -100%;
   }

   .rtl .in-sub-panel #czr-donate-customizer,
   .rtl .in-sub-panel .czr-cta-wrap {
     right: -100%;
     left: auto;
   }
 }

 @media screen and (min-width: 980px) {
  .wp-customizer .expanded #customize-footer-actions {
      width: 380px;
  }
}

@media screen and (min-width: 1401px) {
  .wp-customizer .expanded #customize-footer-actions {
      width: 440px;
  }
}
/* </OLD DONATE LINK> *//*******************************************************************
* DYNAMIC CONTROLS : sidebars, socials, ...
********************************************************************/
li.customize-control[data-module] li {
  margin-bottom: 0;
  font-size: 0.85em;
}
li.customize-control[data-module] [class*="czr-"] {
  font-size: 0.9rem;
}
li.customize-control[data-module] [class*="czr-"] .hidden {
  display: none;
}
li.customize-control[data-module] .czr-notice {
  font-size: 12px!important;
}
.czr-open-pre-add-new {
  display: block;
  float: left;
  margin: 2% 2% 0%;
  width: 98%;
  padding: 2%;
  background: #fff;
  /* color: #fff;*/
  color: inherit;
  opacity: 1;
  font-size: 16px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
 }

.czr-open-pre-add-new.active {
  background: #646464;
  color: black;
  opacity: 0.8;
  border-radius: 3px 3px 0 0;
}

.czr-single-item {
  padding: 0%;
  /*border: 1px solid #ccc;*/
  margin: 1% 0 0 2%;
  float: left;
  width: 98%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
/* Display a thin outline around opened item, for multi-items modules */
#customize-theme-controls .czr-single-item.open {
  /*border: 1px solid #dedede;*/
  outline: 1px solid #22a0d2;
}
/* Keep the normal border for single module, mono items controls */
#customize-theme-controls .mono-item-mod .czr-single-item {
  outline: none;
}

.czr-single-item .czr-item-header, .czr-single-item .czr-item-content {
  padding: 1%;
  background: none;
}

.czr-items-wrapper .czr-single-item .czr-builtin-model {
  background: #E1DFDF;
  color: #555
}

.czr-items-wrapper .inactive {
  opacity: 0.6;
}

.czr-item-sort-handle {
  cursor: move;
}

.czr-single-item .czr-item-header {
  position: relative;
  background: #ededed;
  color: white;
  float: left;
  width: 98%;
    -webkit-transition: background .1s ease-in-out;
  -moz-transition: background .1s ease-in-out;
  -ms-transition: background .1s ease-in-out;
  -o-transition: background .1s ease-in-out;
  transition: background .1s ease-in-out;
}


/* sidebar specifics */
.czr_widget_areas_module .czr-single-item .czr-custom-model {
  background: #3b8dbd;
}
. .czr-single-item .czr-custom-model:hover {
  background: #aaa;
}
.czr-single-item .czr-item-header:hover {
  background: #ccc;
}

/* sidebar specifics */
/*.czr-builtin-model .czr-single-item .czr-item-header {
  background:#3b8dbd;
}*/
.czr-items-wrapper .czr-single-item .czr-builtin-model:hover {
  background: #ccc;
}

.czr-move-icon {
  position: absolute;
  top: -2px;
  left: 3px;
  font-size: 10px;
  color: #999;
}
.czr-item-title {
  float: left;
  font-size: 17px;
  color: #000;
  padding: 4px;
  width: 67%;
}

.czr-inactive-alert {
  font-size: 12px;
  font-style: italic;
}
/* sidebar specifics */
.czr_widget_areas_module .czr-item-title {
  color: #fff;
}


.czr-builtin-model .czr-item-title {
  color: #23282d;
}
.czr-item-title h4 {
  margin: 0;
}
.czr-item-title .fab::before,
.czr-item-title .fas::before,
.czr-item-title .far::before {
  padding-right: 2px;
}
.czr-item-btns {
  float: right;
}
.czr-item-btns a {
  font-size: 17px;
  padding: 7px 5px;
  color: #9e9e9e;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  transition: color .25s ease-in-ou
}
.czr-item-btns a:active, .czr-item-btns a:focus {
  outline: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.czr-item-btns a:hover, .czr-item-btns a.active {
    color: #23282d;
}
/* sidebar specifics */
.czr_widget_areas_module .czr-item-btns a {
  color: #fff;
}

.czr-builtin-model .czr-item-btns a {
  color: #555
}

.czr-builtin-model .czr-item-btns .czr-edit-view:hover, .czr-builtin-model .czr-item-btns .czr-edit-view.active {
  color: #00a0d2;
}

.czr-item-btns .czr-edit-view:hover, .czr-item-btns .czr-edit-view.active {
  color: #00a0d2;
}

/* sidebar specifics */
.czr_widget_areas_module .czr-edit-view:hover, .czr_widget_areas_module .czr-item-btns .czr-edit-view.active {
  color: #000000;
}
.czr_widget_areas_module .czr-builtin-model .czr-edit-view:hover, .czr_widget_areas_module .czr-builtin-model .czr-edit-view.active {
  color: #00a0d2;
}

.czr-item-btns .czr-display-alert:hover, .czr-item-btns .czr-display-alert.active {
  color: #23282d;
}


.czr-single-item .czr-item-content {
  float: left;
  display: none;
  /*background: rgba(238, 238, 238, 0.5);*/
  clear: both;
  width: 96%;
  padding: 2%;
}
.czr-single-item .czr-item-content input {
  margin-bottom: 0;
}
.czr-sub-set {
  margin-bottom: 0;
  display: block;
  float: left;
  width: 100%;
  padding: 1% 0;
  position: relative;
}

.czr-sub-set .czr-input {
  float: right;
  width: 60%;
}

.width-100 .czr-input,
.czr-sub-set .customize-control-title.width-100,
.width-100 {
  width: 100%;
}

.czr-sub-set .customize-control-title {
  float: left;
  width: 40%;
  padding: 1px 0;
  font-size: 13px;
}

.customize-control-title.width-80 {
    width: 80%!important;
}
.czr-input.width-20 {
    width: 20%!important;
}

/* rtl */
.rtl.wp-customizer .czr-sub-set .customize-control-title {
  float: right;
}

/* DISABLED STATE */
.disabled .customize-control-title, .disabled .czr-input {
    opacity: 0.6;
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.czr-item-title .far,
.czr-item-title .fab,
.czr-item-title .fas {
  font-size: 18px;
}

/* Remove alert block */
.czr-remove-alert-wrapper {
  display: none;
  clear: both;
  float: left;
  padding: 2%;
  width: 95%;
  margin: 10px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #EEE;
  color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.czr-remove-alert-wrapper p {
  padding: 5px;
  margin: 0px;
}

/* pre add dialog */
.czr-pre-add-wrapper {
  position: relative;
  float: left;
  width: 100%;
}

.czr-adding-new .czr-items-wrapper {
  opacity: 0.6;
}

.czr-pre-add-view-content {
  display: none;
  padding: 3%;
  border: 1px solid #ccc;
  background: #fff;
  border-top: none;
  margin: 0 0 0 2%;
  float: left;
  width: 92%;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.czr-model-added .czr-pre-add-view-content {
  opacity: 0.2;
}

.czr-pre-add-wrapper .czr-add-new {
  background: #3b8dbd;
  color: #fff;
  -webkit-transition: background .5s linear;
  -moz-transition: background .5s linear;
  -ms-transition: background .5s linear;
  -o-transition: background .5s linear;
  transition: background .5s linear;
  float: right;
  border: none;
}

.czr-add-success {
  width: 100%;
  margin: 0 0 0 2%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -ms-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}
.czr-model-added .czr-add-success {
  opacity: 1;
}

.czr-add-success p {
  vertical-align: middle;
  display: inline-block;
  line-height: 35px;
  margin: 0;
  font-size: 25px;
  color: #82b965;
  padding: 0 3%;
}


/* WIDGETS ZONE SPECIFICS */
.control-section-widget_zones_management {
  margin: 10px 0;
  z-index: 1;
}
/*#customize-theme-controls .control-section-widget_zones_management .accordion-section-content {
  display: none;
  left: 0;
  position: relative;
}*/

.czr-zone-infos {
  width: 96%;
  padding: 0 2%;
  font-size: 12px;
  float: left;
  font-style: italic;
}

/*#customize-theme-controls .control-section-widget_zones_management .accordion-section-title:after {
  content: "\f078";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#customize-theme-controls .control-section-widget_zones_management.open .accordion-section-title:after {
  content: "\f077";
}*/
.czr-unavailable-location {
  opacity: 0.7;
}
.czr-location-alert {
  float: left;
  width: 100%;
  padding: 1% 0;
  margin: 1% 0;
  text-align: center;
  border: 1px solid orange;
  background: #FEE5B6;
  color: #000;
  font-size: 11px;
  font-style: italic;
}














/* MODULE OPTIONS ICON AND PANEL*/
.czr-toggle-modopt {
  color: #495050;
  text-shadow: 1px 1px 0px white;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  position: absolute;
  right: 0;
  padding-left: 3px;
  font-size: 25px;
  line-height: 24px;
}
/* rtl */
.rtl.wp-customizer .czr-toggle-modopt {
  left: 0;
  right: auto;
  padding-left: 0;
  padding-right: 3px;
}
.czr-modopt-visible .czr-toggle-modopt, .czr-toggle-modopt:hover {
  color: #3b8dbd;
}

body.czr-editing-modopt #customize-preview  {
  opacity: 0.7;
}
body #customize-controls {
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}
body.czr-editing-modopt #customize-controls  {
  opacity: 0.4;
}
.czr-mod-opt-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -301px;
  /*visibility: hidden;*/
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  z-index: 999999;/* has to be greater than the Nimble top bar so we can click on the close "x" */
  width: 60%;
  min-width: 300px;
  padding: 1% 2%;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all .18s ease-in-out;
  -moz-transition: all .18s ease-in-out;
  -ms-transition: all .18s ease-in-out;
  -o-transition: all .18s ease-in-out;
  transition: all .18s ease-in-out;
  border-right: 1px solid #4c4c4c;
}

body.czr-editing-modopt .czr-mod-opt-wrapper {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.czr-close-modopt {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 31px;
  cursor: pointer;
}



/* OPTIONS STYLE */
.czr-mod-opt-wrapper .czr-sub-set {
    /*border: 1px dotted #ccc;*/
    background: rgba(238, 238, 238, 0.13);
    padding: 3% 2%;
    width: 96%;
    margin: 5px 0;
}
.czr-mod-opt-wrapper .czr-notice {
  color: #fff;
}

.czr-mod-opt-wrapper .mod-opt-title {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 5% 0;
  text-align: center;
}



/**************************************
/* MODULE OPTIONS : TABS NAVIGATION  */
/*************************************/
.tabs {
  position: relative;
  display: none;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.tabs nav ul {
  position: relative;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.tabs nav ul li {
  font-size: 14px;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* colums layouts */
.tabs nav ul li.cols-4 {
  width: 25%
}
.tabs nav ul li.cols-3 {
  width: 33%
}
.tabs nav ul li.cols-2 {
  width: 50%
}
.tabs nav ul li.cols-1 {
  width: 100%
}
.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs nav li.tab-current a {
  color: #74777b;
}

.tabs nav a:focus {
  outline: none;
}

li.tab-current::after, li.tab-current::before {
    content: '';
    height: 100%;
    position: absolute;
    -webkit-box-shadow: 4px 0px 15px 0px rgba(37, 37, 37, 0.63);
    box-shadow: 4px 0px 15px 0px rgba(37, 37, 37, 0.63);
    top: 0;
    width: 0px;
    right: 0px;
    z-index: 4;
    width: 100%;
}

li.tab-current::before{
    left: 0;
    -webkit-box-shadow: 0px 0px 15px 4px rgba(37, 37, 37, 0.63);
    box-shadow: 0px 0px 15px 4px rgba(37, 37, 37, 0.63);
}

li.tab-inactive::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: -7px;
    left: 0;
    -webkit-box-shadow: 4px 0px 15px 0px rgba(119, 119, 119, 0.58);;
    box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.86);;
}

/* Content */
.content-wrap {
  position: relative;
}

.content-wrap section {
  display: none;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 10px;
}

section .czr-sub-set:first-child {
    margin: 0;
}

.content-wrap section.content-current {
  display: block;
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

/*****************************/
/* Top Line */
/*****************************/

.tabs-style-topline {
  max-width: 1200px;
}

.tabs-style-topline nav li {
  border: 1px solid rgba(40,44,42,0.1);
}

.czr-items-wrapper .tabs-style-topline nav li {
  border: none;
}

.tabs-style-topline nav li:not(:last-child) {
  border-right: none;
}

.tabs-style-topline nav li.tab-current {
  border-top-color: #ffffff;
  border-bottom: none;
  background: rgba(238, 238, 238, 0.13);
}

.tabs-style-topline nav a {
  padding: 0.65em 0.5em;
  background: rgba(40,44,42,0.05);
  color: #fff;
  line-height: 1;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
}
.czr-items-wrapper .tabs-style-topline nav a {
  background: rgba(40, 44, 42, 0.45);
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
  text-decoration: underline;
}

.tabs-style-topline nav li.tab-current a {
  background: none;
  box-shadow: inset 0 3px 0 #ffffff;
  color: #ffffff;
  text-decoration: underline;
}

.czr-items-wrapper .tabs-style-topline nav li.tab-current a {
  color: #000;
}

.tabs-style-topline .icon::before {
  display: block;
  margin: 0;
}

.tabs-style-topline nav a span {
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
  font-weight: 700;
}


@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }
  .tabs nav a:before {
    margin-right: 0;
  }
}








/* SLIDER MODULE SPECIFICS */
.czr_slide_module .czr-item-title {
  padding: 0px 7px;
  height: 32px;
}
.czr_slide_module .slide-title, .czr_slide_module .slide-thumb {
  display: block;
  height: 32px;
  line-height: 32px;
  float: left;
}
.czr_slide_module .slide-title {
  padding-left: 5px;
}

/* styled like the wp api.notifications, info type */
.slide-mod-skope-notice {
  padding: 3%;
  background: #fff;
  border-left: 4px solid #00a0d2;
  box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
  float: left;
  font-size: 12px;
  line-height: 1.5em;
}
/* Underline skope switch text in control notices and in the main skope switcher title */
.slide-mod-skope-notice .czr-skope-switch {
  cursor: pointer;
  text-decoration: underline;
}

.modopts-top-buttons {
  width: 100%;
  float: left;
  margin-bottom: 4%;
  text-align: center;
}

.item-bottom-buttons {
  width: 100%;
  float: left;
  padding: 1% 0;
}
.item-bottom-btn {

}
.item-bottom-btn, .modopt-top-btn {
  opacity: 1;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-width: 1px;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
.item-bottom-btn {
  background: #868686;
  width: 47%;
  margin-right: 2%;
  padding: 1% 0;
}
.modopt-top-btn {
  background: rgba(171, 171, 171, 0.5);
  width: 170px;
  padding: 2px 0;
}
.item-bottom-btn:hover {
  background: #5d5d5d;
}
.modopt-top-btn:hover {
  background:rgba(41, 41, 41, 0.53);
}

.item-bottom-btn[disabled], .modopt-top-btn[disabled], .item-bottom-btn[disabled]:hover, .modopt-top-btn[disabled]:hover {
    opacity: 0.4;
    cursor: default;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /*border: none!important;*/
    background: inherit;
}


/* NOTICES */
.czr-notice {
    font-size: 12px;
    font-weight: normal;
}/*
 * Selecter v3.1.9 - 2014-09-02
 * A jQuery plugin for replacing default select elements. Part of the Formstone Library.
 * http://formstone.it/selecter/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */
.selecter-element { *left: -999999px; position: absolute; opacity: 0; }
.selecter { display: block;float: right;margin: 2px 0;position: relative;width: 100%;z-index: 100; }
.selecter .selecter-selected { background: #F9F9F9 url(img/jquery.fs.selecter-arrow.png) no-repeat right center; border: 1px solid #ccc; border-radius: 3px; color: #333; cursor: pointer; display: block; font-size: 13px; margin: 0; overflow: hidden; padding: 4px 4%; position: relative; text-overflow: clip; z-index: 49; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);height: auto;line-height: 18px;width: 90%; }

.selecter .selecter-options { border: 1px solid #ccc; border-width: 0 1px 1px; background-color: #fefefe; border-radius: 0 0 3px 3px; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15); display: none; left: 0; margin: 0; max-height: 260px; overflow: auto; overflow-x: hidden; padding: 0; position: relative; top: 100%; width: 99%; *width: auto; z-index: 50; }
.selecter .selecter-group { background: #F9F9F9; border-bottom: 1px solid #e3e3e3; color: #999; display: block; font-size: 11px; padding: 5px 6px 4px; text-transform: uppercase; }
.selecter .selecter-item { background: #fff; border-bottom: 1px solid #e3e3e3; color: #333; cursor: pointer; display: block; font-size: 13px; margin: 0; overflow: hidden; padding: 8px 10px; text-overflow: ellipsis; width: 86%;height: auto;line-height: 14px;padding: 8px 24px 8px 10px;}
.selecter .selecter-item.selected { background: #F9F9F9; }
.selecter .selecter-item.disabled { color: #999; cursor: default; }
.selecter .selecter-item:first-child { border-radius: 0; }
.selecter .selecter-item:last-child { border-radius: 0 0 2px 2px; border-bottom: 0; }

/* CUSTOM FOR CUSTOMIZR */
.rtl .selecter .selecter-selected {
  background: #F9F9F9 url(img/jquery.fs.selecter-arrow.png) no-repeat 4% center;
}

@media screen and (min-width: 980px) {
  .selecter .selecter-item:hover,
  .selecter .selecter-item.selected:hover { background-color: #f3f3f3; }
  .selecter .selecter-item.disabled:hover { background-color: #fff; }

  .selecter:hover .selecter-selected { background-color: #fff; }

  .selecter.disabled .selecter-item:hover { background: #fff; }
}

/* Open */
.selecter.open { z-index: 101; }
.selecter.open .selecter-selected { border-radius: 3px 3px 0 0; z-index: 51; }

.selecter.open .selecter-selected,
.selecter.focus .selecter-selected { background-color: #fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

/* 'Cover' Positioning */
.selecter.cover .selecter-options { border-radius: 3px; border-width: 1px; top: 0; }
.selecter.cover .selecter-options .selecter-item.first { border-radius: 3px 3px 0 0; }
.selecter.cover.open .selecter-selected { border-radius: 3px 3px 0 0; z-index: 49; }

/* 'Bottom' Positioning */
.selecter.bottom .selecter-options { border-width: 1px 1px 0; bottom: 100%; top: auto; }
.selecter.bottom .selecter-item:last-child { border: none; }
.selecter.bottom.open .selecter-selected { border-radius: 0 0 3px 3px; }
.selecter.bottom.open .selecter-options { border-radius: 3px 3px 0 0; }

/* 'Bottom' + 'Cover' Positioning */
.selecter.bottom.cover .selecter-options { bottom: 0; top: auto; }
.selecter.bottom.cover.open .selecter-selected { border-radius: 3px; }
.selecter.bottom.cover.open .selecter-options { border-radius: 3px; }

/* Multiple Select */
.selecter.multiple .selecter-options { border-radius: 3px; border-width: 1px; box-shadow: none; display: block; position: static; width: 100%; }

/* 'Disabled' State */
.selecter.disabled .selecter-selected { background: #fff; border-color: #eee; color: #ccc; cursor: default; }
.selecter.disabled .selecter-options { background: #fff; border-color: #eee; }
.selecter.disabled .selecter-group,
.selecter.disabled .selecter-item { border-color: #eee; color: #ccc; cursor: default; }
.selecter.disabled .selecter-item.selected { background: #fafafa; }

/* Scroller Support */
.selecter .selecter-options.scroller { overflow: hidden; }
.selecter .selecter-options.scroller .scroller-content { max-height: 260px; padding: 0; }

/* Media Queries */
@media screen and (max-width: 740px) {
  .selecter { max-width: 100%; }
}
@media screen and (max-width: 500px) {
  .selecter { max-width: 100%; }
}











/*
 * Stepper v3.0.7 - 2014-05-07
 * A jQuery plugin for cross browser number inputs. Part of the Formstone Library.
 * http://formstone.it/stepper/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */
.stepper { border-radius: 3px; margin: 0 0 10px 0; overflow: hidden; position: relative; width: 35%;float: left; clear: both;}
.stepper .stepper-input { background: #F9F9F9; border: 1px solid #ccc; border-radius: 3px; color: #333; font-size: 13px; line-height: 1.2; margin: 0; overflow: hidden; padding: 5px 10px 5px!important; width: 100%!important; z-index: 49;  -moz-appearance: textfield;max-width: none!important;
}

.stepper .stepper-input::-webkit-inner-spin-button,
.stepper .stepper-input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

.stepper .stepper-input:focus { background-color: #fff; }
.stepper .stepper-arrow { background: #eee url(img/jquery.fs.stepper-arrows.png) no-repeat; border: 1px solid #ccc; cursor: pointer; display: block; height: 46%; position: absolute; right: 0; text-indent: -99999px; width: 20px; z-index: 50; }
.stepper .stepper-arrow.up { background-position: center top; border-bottom: none; top: 0; }
.stepper .stepper-arrow.down { background-position: center bottom; bottom: 0; }

/* CUSTOM FOR CUSTOMIZR */
.rtl .stepper .stepper-input {
  text-align: left;
}

@media screen and (min-width: 740px) {
  .stepper:hover .stepper-input { background-color: #fff; }

  .stepper .stepper-step:hover { background-color: #F9F9F9; }

  .stepper.disabled .stepper-arrow { background: #fff; border-color: #eee; cursor: default; }
}

.stepper.disabled .stepper-input { background: #fff; border-color: #eee; color: #ccc; }
.stepper.disabled .stepper-arrow { background: #fff; border-color: #eee; cursor: default; }












/* iCheck plugin Flat skin, green
----------------------------------- */
.icheckbox_flat-green,
.iradio_flat-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(img/green.png) no-repeat;
    border: none;
    cursor: pointer;
    top: 4px;
    float: right;
}
/* RTL fix of check box position */
.rtl [class*=icheckbox_flat-] {
  float: left;
}
.icheckbox_flat-green {
    background-position: 0 0;
}
.icheckbox_flat-green.checked {
    background-position: -22px 0;
}
.icheckbox_flat-green.disabled {
    background-position: -44px 0;
    cursor: default;
}
.icheckbox_flat-green.checked.disabled {
    background-position: -66px 0;
}

.iradio_flat-green {
    background-position: -88px 0;
}
.iradio_flat-green.checked {
    background-position: -110px 0;
}
.iradio_flat-green.disabled {
    background-position: -132px 0;
    cursor: default;
}
.iradio_flat-green.checked.disabled {
    background-position: -154px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-green,
    .iradio_flat-green {
        background-image: url(img/green@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* iCheck plugin Flat skin, grey
----------------------------------- */
.icheckbox_flat-grey,
.iradio_flat-grey {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(img/grey.png) no-repeat;
    border: none;
    cursor: pointer;
    top: 4px;
    float: right;
}

.icheckbox_flat-grey {
    background-position: 0 0;
}
    .icheckbox_flat-grey.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-grey.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-grey.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-grey {
    background-position: -88px 0;
}
    .iradio_flat-grey.checked {
        background-position: -110px 0;
    }
    .iradio_flat-grey.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-grey.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-grey,
    .iradio_flat-grey {
        background-image: url(img/grey@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

.czr-sub-set .icheckbox_flat-green, .iradio_flat-green {
  float: left;
}
















/* SELECT 2 SPECIFICS */
body .czrSelect2-container {
  z-index: 1000000;
  width: 100%!important;
}

.customize-control-czr_layouts .czrSelect2-selection--single {
  height: 33px;
}
.customize-control-czr_layouts .czrSelect2-container--default .czrSelect2-selection--single .czrSelect2-selection__arrow {
  height: 30px;
}
.czrSelect2-selection__rendered:focus, .customize-control-czr_layouts .czrSelect2-selection--single:focus {
  outline: none;
}

/* Old SELECT2
* https://github.com/presscustomizr/themes-customizer-fmk/issues/30
*/
body .czrSelect2-drop {
  z-index: 1000000;
}


/* SPECIFIC INPUT STYLE */
span.czrSelect2-results, body .czrSelect2-container {
  font-size: 14px;
}


/* for multipe picker */
.czrSelect2-container--default .czrSelect2-selection--multiple {
   -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0;
  width: 99%;
  min-height: 36px;
  border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
    box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
}
.czrSelect2-container--default.czrSelect2-container--focus .czrSelect2-selection--multiple {
  border-color: #00a0d2!important;
      -webkit-box-shadow: 0 0 2px rgba(26, 188, 156, 0.8)!important;
      box-shadow: 0 0 2px rgba(26, 188, 156, 0.8)!important;
}
.czrSelect2-results__options li {
    margin-bottom: 0
}
.czrSelect2-container--default .czrSelect2-selection--multiple .czrSelect2-selection__choice {
  padding: 2px;
  font-size: 13px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 0;
}
.czrSelect2-container--default .czrSelect2-results__option--highlighted[aria-selected] {
  background-color: #00a0d2;
}
.czrSelect2-container--default .czrSelect2-selection--multiple .czrSelect2-selection__choice__remove {
  font-size: 17px;
  position: relative;
  top: 2px;
  color: #23282d;
}

/* Socials Specifics */
.customize-control-czr_socials .czrSelect2-container--default .czrSelect2-selection--single .czrSelect2-selection__rendered {
  padding: 5px;
  line-height: 16px;
}












/* WP TEXT EDITOR */
/* This CSS Code is inpired from the plugin customize-posts, GPLv2 or later licensed
    Mostly class names have been modified.
   Credits : xwp, westonruter, valendesigns, sayedwp, utkarshpatel.
   Date of original code modification : July 2018
*/
#czr-customize-content_editor-pane {
  border-top: solid 1px #ddd;
  position: absolute;
  height: 300px;
  bottom: -301px;
  right: 0;
  left: 0;
  z-index: 20;
  background: #f1f1f1;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  visibility: hidden;
}
.czr-close-editor {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: -33px;
  color: #444;
  background: #eee;
  font-size: 13px;
  line-height: 19px;
  height: 20px;
  margin: 5px 0 0 5px;
  padding: 3px 8px 4px;
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
body.czr-customize-content_editor-pane-resize #customize-preview,
body.czr-customize-content_editor-pane-resize #czr-customize-content_editor-pane {
  -webkit-transition: none;
  transition: none;
}
body.mce-fullscreen.czr-customize-content_editor-pane-open #czr-customize-content_editor-pane {
  top: 0;
}
body.czr-customize-content_editor-pane-open #czr-customize-content_editor-pane {
  bottom: 40px;
  visibility: inherit;
}
#czr-customize-content_editor-pane .wp-editor-tools {
  padding-top: 5px;
  padding-right: 10px;
}
#czr-customize-content_editor-pane .wp-media-buttons {
  padding-left: 5px;
}
#customize-preview {
  height: auto;
}
body.czr-customize-content_editor-pane-open #customize-preview {
  bottom: 300px;
}
body.mce-fullscreen #customize-preview {
  bottom: 0;
}
body.mce-fullscreen.czr-customize-content_editor-pane-open div.mce-fullscreen {
  position: relative;
  left: 0;
}
#wp-czr-customize-content_editor-container {
  border-left: 0;
}
/* vertical resize bar */
#czr-customize-content_editor-dragbar {
  top: 0;
  cursor: row-resize;
  display: block;
  height: 4px;
  position: absolute;
  width: 100%;
  z-index: 21;
  /* the following makes sure that the icon .czr-resize-handle is centered */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
body.czr-customize-content_editor-pane-resize #customize-preview:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 999999;
}
/* @todo Mobile support for rich text editor */
.wp-customizer .ui-autocomplete.wplink-autocomplete {
  z-index: 500110; /* originally 100110, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #wp-link-wrap {
  z-index: 500105; /* originally 100105, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #wp_editbtns,
.wp-customizer #wp_gallerybtns {
  z-index: 500020; /* originally 100020, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #TB_overlay,
.wp-customizer #TB_window {
  z-index: 500050;
}
.wp-customizer .mce-panel,
.wp-customizer .mce-tooltip {
  z-index: 500100 !important; /* originally 100100, but z-index of .wp-full-overlay is 500000 */
}
.czr-customize-content_editor-pane-open .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  z-index: 30;
}
.czr-customize-content_editor-pane-open .wp-full-overlay.collapsed .collapse-sidebar {
  bottom: 308px;
}
.czr-customize-content_editor-pane-open .wp-full-overlay.expanded .collapse-sidebar {
  bottom: 0 !important;
}
.czr-customize-content_editor-pane-resize .wp-full-overlay.collapsed .collapse-sidebar {
  -webkit-transition: none;
  transition: none;
}
.czr-customize-content_editor-pane-open.mce-fullscreen .wp-full-overlay.collapsed .collapse-sidebar {
  bottom: 8px !important;
}
.czr-resize-handle {
  color: #33b3db;
  font-size: 12px;
  position: relative;
  bottom: 2px;
}


/* CONTENT PICKER */
.czr-sub-set[data-input-type="content_picker"] .customize-control-title {
    width: 100%;
}
.czr-sub-set[data-input-type="content_picker"] .czr-input {
    width: 100%;
}
.content-picker-item {
    height: 2em;
}
.content-picker-item .czr-picker-item-type {
    float: right;
    display: inline-block;
}
.content-item-bar {
    line-height: 1.2em;
    font-size: 0.9em;
}
.content-item-bar .czr-picker-item-title {
    display: block;
    float: left;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    line-height: 1.3em;
}

.czr-sub-set[data-input-type="content_picker"] span.czr-picker-item-title {
    display: block;
    float: left;
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    line-height: 2em;
    color: #000;
}

.czr-sub-set[data-input-type="content_picker"] span.czr-picker-item-type {
    display: inline-block;
    padding: 0;
    padding-right: 10px;
    float: right;
    line-height: 2em;
}













/* RANGE SLIDER rangeslider.js - v2.3.0 - https://github.com/andreruffert/rangeslider.js */
.czr-sub-set[data-input-type="range_slider"] {
    padding: 20px 0;
}
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
}

.rangeslider--horizontal {
  height: 12px;
  width: 100%;
}

.rangeslider--vertical {
  width: 12px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #3b8dbd;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 34px;
  height: 34px;
  position: absolute;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  color: #000000;
  font-size: 13px;
}

.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
  top: -13px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -13px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}


/* IMAGE UPLOADER */
.attachment-media-view button {
    color: #000;
    padding: 5px 7px;
    line-height: 1.5em;
}



/* DEPRECATED since april 2nd 2019 */
/* GUTENCHECK */
/* This custom checkbox input is inspired from the one used in the Gutenberg plugin ( https://github.com/WordPress/gutenberg ), released under GNU General Public License
credits : Gutenberg team @wordpress */
/*.czr-toggle-check {
  position: relative;
      float: right;
}
.czr-toggle-check__input[type=checkbox] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.czr-toggle-check__input[type="checkbox"]:checked:before {
    content: "\f147";
    margin: -3px 0 0 -4px;
    color: #1e8cbe;
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: normal 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.czr-toggle-check .czr-toggle-check__track {
    content: "";
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #6c7781;
    width: 36px;
    height: 18px;
    border-radius: 9px;
    transition: background .2s ease;
}
.czr-toggle-check.is-checked .czr-toggle-check__track {
    background-color: #33b3db;
    border: 2px solid #33b3db;
    border: 9px solid transparent;
}
.czr-toggle-check .czr-toggle-check__thumb {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: transform .1s ease;
    background-color: #6c7781;
    border: 5px solid #6c7781;
    box-sizing: border-box;
}
.czr-toggle-check.is-checked .czr-toggle-check__thumb {
    background-color: #fff;
    border-width: 0;
    transform: translateX(18px);
}
.czr-toggle-check .czr-toggle-check__off {
    color: #6c7781;
    fill: currentColor;
    right: 6px;
}
.czr-toggle-check .czr-toggle-check__on {
    left: 8px;
    -webkit-filter: invert(100%) contrast(500%);
    filter: invert(100%) contrast(500%);
    outline: 1px solid transparent;
    outline-offset: -1px;
}
.czr-toggle-check .czr-toggle-check__off, .czr-toggle-check .czr-toggle-check__on {
    position: absolute;
    top: 6px;
}*/



/* NIMBLECHECK */
/* ALIGNEMENT IN MODULES */
.czr-sub-set[data-input-type="nimblecheck"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* flex-direction: column; */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}
.czr-sub-set[data-input-type="nimblecheck"] .czr-notice, .czr-sub-set[data-input-type="nimblecheck"] .czr-html-before {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-negative: 0;
          flex-shrink: 0;
  flex: 0 0 100%;
}
/* ALIGNEMENT IN REGULAR CONTROLS */
.czr-control-nimblecheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  /* flex-direction: column; */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}


/* COMMON RULES TO MODULES AND CONTROLS */
.nimblecheck-wrap {
  position: relative;
  display: inline-block;
  float: right;
}
/* Hide the checkbox input (only needed for `:checked` property) */
.nimblecheck-wrap .nimblecheck-input {
  display: none;
}
/* Switch */
.nimblecheck-wrap .nimblecheck-label {
  display: block;
  width: 35px;
  height: 20px;
  text-indent: -150%;
  clip: rect(0 0 0 0);
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /* Switch Rail & Knob */
  /* Switch Rail */
  /* Switch Knob */
}
.nimblecheck-wrap .nimblecheck-label:before,
.nimblecheck-wrap .nimblecheck-label:after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
}
.nimblecheck-wrap .nimblecheck-label:before {
  width: 100%;
  height: 100%;
  background-color: #999;
  border-radius: 9999em;
  -webkit-transition: background-color 0.35s ease;
  -o-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
}
.nimblecheck-wrap .nimblecheck-label:after {
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: left 0.15s ease;
  -o-transition: left 0.15s ease;
  transition: left 0.15s ease;
}
/* When input is checked */
.nimblecheck-wrap .nimblecheck-input:checked + .nimblecheck-label {
  /* Switch Rail */
  /* Switch Knob */
}
.nimblecheck-wrap .nimblecheck-input:checked + .nimblecheck-label:before {
  background-color: #33b3db;
}
.nimblecheck-wrap .nimblecheck-input:checked + .nimblecheck-label:after {
  left: 16px
}