@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'feathericons';
    src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
    src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'), url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'), url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'), url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg')
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    background: #3085a3;
    text-align: center;
    cursor: pointer
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: .8
}

.grid figure figcaption {
    padding: 1em;
    color: #fff;
    font-size: 1.15em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    font-size: 1.5em;
}

.grid figure h2 span {
    font-weight: 800
}

.grid figure h2,
.grid figure p {
    margin: 0
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%
}

@media screen and (max-width:50em) {
    .grid figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%
    }
}

figure.effect-sarah {
    background: #3A3249;
}

figure.effect-sarah img {
    max-width: none;
    width: -webkit-calc(100%+20px);
    width: calc(100%+20px);
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

figure.effect-sarah:hover img {
    opacity: .1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

figure.effect-sarah figcaption {
    text-align: left;
}

figure.effect-sarah h2 {
    position: relative;
    overflow: hidden;
    padding: .5em 0;
}

figure.effect-sarah h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform .35s;
    transition: transform .35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

figure.effect-sarah:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah p {
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    text-align: left;
}

figure.effect-sarah:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: scale(0, 0, 0);
}

.title_project {
    text-align: center !important;
    font-size: 20px !important;
    padding-bottom: 0 !important;
    text-transform: uppercase !important;
}



.btnmenu {
    color: white;
    background: rgba(54, 51, 72, 0.5);
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 5px;
}

.btnmenu:hover {
    border: none;
    border-bottom: 1px solid rgba(54, 51, 72, 0.5);
    background: #fff;
    color: #1b1b1b;
    cursor: pointer;
}

@media screen and (max-width: 1140px) and (min-width: 892px) {
    .project {
        width: 50% !important;
        clear: none !important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 891px) {
    .project {
        width: 100% !important;
        clear: none !important;
        margin-left: 0 !important;
    }
}



#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed !important;
    /* Fixed/sticky position */
    bottom: 20px !important;
    /* Place the button at the bottom of the page */
    right: 30px !important;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    width: 45px !important;
    height: 45px !important;
    background-color: rgba(54, 51, 72, 0.7);
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    padding: 0;
}

#myBtn:hover {
    background-color: rgba(54, 51, 72, 1);
}



.hovereffect {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10pxdes background-color:rgba(54, 51, 72, 0.8);
}



.main-timeline {
    position: relative;
    line-height: normal;
    margin-top: 50px;
}

.main-timeline:before {
    content: '';
    height: 100%;
    width: 1px;
    border-left: 3px dashed rgba(131, 118, 128, 1);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
}

.main-timeline .timeline {
    padding-left: 52px;
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.main-timeline .timeline:before,
.main-timeline .timeline:after {
    content: '';
    height: 25px;
    width: 25px;
    background-color: rgba(54, 51, 72, 1);
    border-radius: 50%;
    border: 5px solid rgba(54, 51, 72, 1);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.main-timeline .timeline:after {
    background-color: rgba(131, 118, 128, 1);
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 0;
    transform: translateX(0) translateY(-50%) rotate(45deg);
    left: 40.5%;
}

.main-timeline .timeline-content {
    color: #fff;
    background-color: rgba(131, 118, 128, 1);
    width: 40%;
    border-radius: 10px;
    display: block;
    position: relative;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .title-timeline {
    color: #fff;
    background-color: rgba(54, 51, 72, 1);
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.main-timeline .description-timeline {
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 20px 15px 50px;
    margin: 0;
}

.main-timeline .timeline-company {
    text-align: right !important;
    font-style: italic !important;
}

.main-timeline .logo-company {
    width: 50px !important;
    height: auto !important;
    margin-top: -10px;
}

.main-timeline .timeline-icon {
    color: #fff;
    background-color: rgba(54, 51, 72, 1);
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    left: -35px;
    top: 63%;
}

.main-timeline .timeline:nth-child(even) {
    padding-left: 0;
    padding-right: 52px;
}

.main-timeline .timeline:nth-child(even):after {
    left: auto;
    right: 40.5%;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    float: right;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: -35px;
}

.main-timeline .timeline:nth-child(even) .description-timeline {
    padding: 10px 50px 15px 20px;
}

.main-timeline .timeline:nth-child(4n+2):before {
    background-color: rgba(54, 51, 72, 1);
    border: 5px solid rgba(54, 51, 72, 1);
}

.main-timeline .timeline:nth-child(4n+2) .title-timeline,
.main-timeline .timeline:nth-child(4n+2) .timeline-icon {
    background-color: rgba(54, 51, 72, 1);
}

.main-timeline .timeline:nth-child(4n+3):before {
    background-color: rgba(54, 51, 72, 1);
    border: 5px solid rgba(54, 51, 72, 1);
}

.main-timeline .timeline:nth-child(4n+3) .title-timeline,
.main-timeline .timeline:nth-child(4n+3) .timeline-icon {
    background-color: rgba(54, 51, 72, 1);
}

.main-timeline .timeline:nth-child(4n+4):before {
    background-color: rgba(54, 51, 72, 1);
    border: 5px solid rgba(54, 51, 72, 1);
}

.main-timeline .timeline:nth-child(4n+4) .title-timeline,
.main-timeline .timeline:nth-child(4n+4) .timeline-icon {
    background-color: rgba(54, 51, 72, 1);
}

@media screen and (max-width:990px) {
    .main-timeline .timeline:after {
        left: 40%;
    }

    .main-timeline .timeline:nth-child(even):after {
        right: 40%;
    }

    .main-timeline .timeline:nth-child(even) .timeline-content,
    .main-timeline .timeline-content {
        width: 39%;
    }
}

@media screen and (max-width:767px) {
    .main-timeline:before {
        transform: translateX(0);
        left: 0;
    }

    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline {
        padding: 40px 30px 0;
        margin-bottom: 30px;
    }

    .main-timeline .timeline:before {
        transform: translateX(0) translateY(-50%);
        left: -11px;
    }

    .main-timeline .timeline:nth-child(even):after,
    .main-timeline .timeline:after {
        left: 28px;
    }

    .main-timeline .timeline:nth-child(even) .timeline-content,
    .main-timeline .timeline-content {
        width: 100%;
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon,
    .main-timeline .timeline-icon {
        font-size: 30px;
        line-height: 50px;
        height: 50px;
        width: 50px;
        transform: translateY(0);
        left: auto;
        right: -20px;
        top: -35px;
    }

    .main-timeline .title-timeline {
        font-size: 20px;
    }

    .main-timeline .timeline:nth-child(even) .description-timeline,
    .main-timeline .description-timeline {
        padding: 15px 15px 15px 15px;
    }
}

#main-timeline-skills {
    text-align: center !important;
    margin-top: 20px !important;
}

.title-skills {
    margin: 50px !important;
}

.title-section {
    text-align: center !important;
}

.title-section h2 {
    margin: 50px !important;
}


.progress {
    width: 150px;
    height: 150px !important;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress>span {
    width: 50%;
    height: 100% !important;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: rgba(131, 118, 128, 1);
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    width: 90%;
    margin: auto;
}

.progress .progress-value div {
    margin-top: 10px;
}

.progress .progress-value span {
    font-size: 12px;
    text-transform: uppercase;
}

/* This for loop creates the    necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(36);
        transform: rotate(36deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(72);
        transform: rotate(72deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(108);
        transform: rotate(108deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(144);
        transform: rotate(144deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180deg);
    }
}

.progress {
    margin-bottom: 1em;
}

#download-cv {
    border: none !important;
}

.button:hover {
    color: #fff;
    background: rgba(131, 118, 128, 1) !important;
}

.padding-none{
    padding-top: 0 !important;
}

.item-element p {
    text-align:left !important;
}

.carousel{
    padding:0 !important;
}