 .carousel-inner>.item>img {
     /* line-height: 1; */
     height: 100% !important;
     max-height: 33em !important;
 }

 .carousel-inner {
     position: relative;
     width: 100%;
     overflow: visible !important;

 }

 .item-description {
  line-height: 2;
  margin-top: 50px;
 }

.padding-left{
  padding-left:0 !important;
 }

 .item-element-title{

  line-height: 2;
  text-transform: uppercase;
  font-weight: bold;
 }


 .item-element-title{

  line-height: 2;
  text-transform: uppercase;
  font-weight: bold;
 }

.item-button{
 padding-top:10px;
}

.wrapper-carrousel{
  padding-top: 2em !important;
}