/*
Theme Name: GameMonster
Theme URI: http://smthemes.com/gamemonster/
Author: The Smart Magazine Themes
Author URI: http://smthemes.com/
Description: Template by SMThemes.com
Version: 3.0
License: Creative Commons 3.0
Theme date: 08/25/2019
License URI: license.txt
Tags: black, green, dark, fixed-width, featured-images, custom-menu, translation-ready, threaded-comments, theme-options
*/

@import url(styles/font.css);
/* ========================================= GENERAL. ========================================= */
body {
	font-family:'montserratlight';
	font-size:12px;
	background:url(images/top.jpg) top center no-repeat, #252831;
	color:#a4a7b0;
}
/* .......................................................................... UI .......................................................................... */
a { 
	color:#1e2027;
	text-decoration:none;
}
a:hover {
	color:#3172e9;
}
.submit, .button, input[type="submit"] {
	padding: 8px 32px;
	line-height:27px;
	background:#3172e9;
	text-transform:  uppercase;
	font-size:10px;
	font-family:'montserratregular';
	color:#fff;
	border-radius:2px;
	float:  right;
	box-shadow:0 10px 15px rgba(0,0,0,0.15);
}
.submit:hover, .button:hover, input[type="submit"]:hover { 
	background:#fff34b;
	color:#1e2027;
}
input[type="text"], 
textarea, 
input[type="email"], 
input[type="password"], 
input[type="tel"], 
input[type="url"], 
input[type="search"], 
input[type="date"],
select { 
	font-size:14px;
	border-color:#f0f0f0;
	color:#a4a7b0;
	border-radius:2px;
}
input[type="text"]:focus, 
textarea:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
select:focus { 
	color:#1e2027;
	border-color:#f0f0f0;
}
.accent {
	color:#1e2027;
	font-size:22px;
	font-family:'montserratextra_bold';
}
#comments .accent {}
.descent {
	color:#a4a7b0;
	font-size:12px;
	font-family:'montserratregular';
}

/* ....................... Page Navigation .................... */
nav.pagination.dynamic a ,
nav.pagination span.page-numbers,
nav.pagination a.page-numbers {
	background:#f0f0f0;
	font-size:10px;
	font-family:'montserratregular';
	color:#a4a7b0;
	border-radius:2px;
	padding:10px 20px;
}
nav.pagination span.page-numbers.dots {}
nav.pagination a.page-numbers:hover,
nav.pagination.dynamic a:hover,
nav.pagination span.page-numbers.current {
	background:#252831; 
	color:#fff;
}

/* ========================================= Theme Header. ========================================= */
.boxed-container.top {
	
}
#logo {
	float:left;
	display:flex;
	align-items:center;
	height: 150px;
}
#logo img {
	max-height:100%;
}
.site_ttl {
	float:left;
	margin:0;
	padding:0;
	line-height:normal;
	color: #fff;
    text-transform: none;
}
.headersearch {
	float:right;
	display:flex;
	align-items:center;
	height:60px;
	margin-right:20px;
}
@media screen and (max-width:1024px) {
	#logo {
		height:100px;
	}
	.headersearch {
		margin-right:0;
	}
}

/* .......................................................................... Search Box  .......................................................................... */
form .search-box {
	padding-right: 40px;
	position: relative;
}
form .search-box input[type="search"] {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #1e2027;
	font-size:14px;
}
form .search-box input[type="submit"] {
	position: absolute;
	right: 0;
	padding: 0;
	width: 40px;
	height: 40px;
	top: 0;
	border:none;
	background:#f0f0f0;
	color:#c6c8cd;
	font-family:'FontAwesome';
	box-shadow:  none;
}
.headersearch .search-box {
	background:rgba(0,0,0,0.2);
	border-radius:3px;
}
.headersearch .search-box input[type="search"] {	
	color:rgba(255,255,255,0.6);
	background:none;
	border:none;
}
.headersearch .search-box input[type="submit"] {
	color:#fff;
	background:none;
	opacity:0.6;
}
.search-box input[type="search"]::-webkit-input-placeholder { color:#1e2027; }
.search-box input[type="search"]:-moz-placeholder { color:#1e2027; }
.search-box input[type="search"]::-moz-placeholder { color:#1e2027; }
.search-box input[type="search"]:-ms-input-placeholder { color:#1e2027;}
.headersearch input[type="search"]::-webkit-input-placeholder { color:rgba(255,255,255,0.6); }
.headersearch input[type="search"]:-moz-placeholder { color:rgba(255,255,255,0.6); }
.headersearch input[type="search"]::-moz-placeholder { color:rgba(255,255,255,0.6); }
.headersearch input[type="search"]:-ms-input-placeholder { color:rgba(255,255,255,0.6); }


/* .......................................................................... Navigation .......................................................................... */
@media only screen and (min-width:1024px) {
	#extra-menu {
		float:right;
		display:flex;
		align-items:center;
		height: 150px;
	}
	#extra-menu ul.nav-menu > li > a {
		color:#fff;
		opacity:0.4;
		position:relative;
		padding:29px 20px;
	}
	#extra-menu ul.nav-menu > li:hover > a {
		color:#fff;
		opacity:1;
	}
	#extra-menu ul.nav-menu > li:not(:last-child) > a::after {
		content:'';
		position:absolute;
		left:100%;
		top:0;
		height:100%;
		width:2px;
		background:url(images/separator.png) 50% no-repeat;
	}
	header ul.nav-menu  > li ul {
		background:rgba(0,0,0,0.4);
		border-radius:4px;
	}
	header ul.nav-menu  > li ul li a {
		color:#fff;
		font-size:13px;
	}
	header ul.nav-menu  > li ul li:hover > a {
		color:#fff34b;
	}
	
}
@media only screen and (min-width:1024px) {
	.boxed-container.shadowed {
		background:rgba(0,0,0,0.2);
		border-radius:4px 4px 0 0;
	}
	#main-menu {
		float: left;
		display:flex;
		align-items:center;
		height:60px;
	}
	#main-menu ul.nav-menu > li > a {
		color:#fff;
		font-size:13px;
		padding: 19px 20px;
	}
	#main-menu ul.nav-menu > li:hover > a {
		color:#fff34b;
	}
	#main-menu ul.nav-menu > li:not(:last-child) > a::after {
		content:'';
		position:absolute;
		left:100%;
		top:0;
		height:100%;
		width:2px;
		background:url(images/separator.png) 50% no-repeat;
	}
}

@media only screen and (max-width:1023px) {
	#mobile-menu-trigger a {
    color: #fff;
    margin: 40px 0;
}
	#mobile-menu-trigger a:hover {}
}

/* .......................................................................... Slider .......................................................................... */
.slider-container {}
.slider-bgr { 
	position:absolute; 
	width:100%; 
	height:100%; 
	background:url(images/fp-back.png); 
}
.fp-slides {
	z-index:1;
}
.fp-content-wrap {
	width:1000px;
	background:#22252d;
	left:auto;
	right:0;
	height:100%;
	top:0;
	width:360px;
	display:flex;
	align-items:center;
}
.fp-content {
	position:relative;
	padding:20px;
	box-sizing:  border-box;
}
.fp-title {
	color:#fff;
	font-size:46px;
	line-height:46px;
	font-weight:normal;
	margin-bottom:15px;
}
.fp-description {
	color:#a4a7b0;
	font-size:13px;
	line-height:24px;
	margin-bottom:15px;
}
.fp-more {
	float:none;
}
.fp-more:hover {
	
}
.fp-prev-next-wrap {
	width:100%;
	position:  relative;
	clear:  both;
	float:  left;
	margin-top: 20px;
}
.fp-prev-next-wrap a {
	height:48px;
	width:48px;
	transition:none;
	position:  relative;
	display: block;
	float:  left;
}
.fp-prev {
	left:0;
	background:url(images/slide-left.png) left top no-repeat;
}
.fp-next {
	right:0;
	background: url(images/slide-right.png) left top no-repeat;
}
.fp-prev-next-wrap a.fp-next:hover {
	background-position:-48px top;
}
.fp-prev-next-wrap a.fp-prev:hover {
	background-position:-48px top;
}
@media screen and (max-width:800px) {
	.fp-title {
		font-size:30px;
		margin-bottom:5px;
	}
	.fp-description {
		font-size:12px;
		line-height:20px;
		margin-bottom:5px;
	}
	.fp-prev-next-wrap {
		display:none;
	}
}
@media screen and (max-width:640px) {
	.fp-content-wrap {
		display:none;
	}	
	.fp-prev-next-wrap {
		display:none;
	} 	
}


/* ========================================= CONTENT. ========================================= */
.site-content {
	margin: 0 auto;
	background:  #fff;
	width:  1000px;
	max-width:  100%;
	padding: 40px 20px;
	box-sizing:  border-box;
}
.page-title {
	
}
.entry-title {
	margin:0;
	padding-bottom:5px;
	border:none;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size:22px;	
	color:#1e2027;
	font-family:'montserratextra_bold';
	font-weight:normal;
	text-transform:none;
}
.entry-title a {
	color:#1e2027;
}
.entry-title a:hover { color:#3172e9;}
article {
	border:none;
	padding-bottom:25px;
	margin-bottom:25px;
}
.featured-box {
	float:left;
	margin: 0 15px;
}
.featured-box a.button {
	position:relative;
	display: block;
	max-width: 180px;
	box-sizing: border-box;
	margin: 0 auto 0;
	top: -25px;
	float:  none;
}
article .featured_image {
	vertical-align:bottom;
	float:left;
}

/* .......................................................................... Entry Meta .......................................................................... */
.entry-meta {
	color:#a4a7b0;
	border:2px solid #f0f0f0;
	border-radius:2px;
	clear:  both;
	float:  left;
	width:  100%;
}
.entry-meta a {
	color:#a4a7b0;
}
.entry-meta a:hover {
	color:#3172e9;
}
.entry-meta > span {
	padding-left: 20px;
	margin: 0 10px 0 0;
	padding: 2px 20px;
	float:  left;
}
.entry-meta .post-date {
	background:#f0f0f0;
	float:right;
	color:#a4a7b0;
	padding: 2px 15px;
	margin:  0;
}
.post-date .bold {
	color:#a4a7b0;
	font-family:'montserratsemi_bold';
	float:  left;
	font-size: 15px;
}
.entry-meta .post-categories {}
.entry-meta .post-comments {}
.entry-meta .post-author {}
@media screen and (max-width:540px) {
	.featured-box {
		clear:both;
		width:100%;
	}
	article .featured_image {
		float:none;
		margin:0 auto;
		display:block;
	}
	.entry-meta {
		border:none;
	}
}

/* ....................... Sidebar .................... */
.widget {
	line-height:24px;
}
.widget a {
	font-size:14px;
	font-family:'montserratregular';
}
.widget a:hover {
	
}
.sidebar { 
	color:#999; 
}
.widget .caption h4 {
	color:#1e2027;
	font-size:18px;
	font-family:'montserratsemi_bold';
}
.widget .caption h4::before {
	content:'.';
	color:#3172e9;
	font-size: 29px;
}
.widget ul {
	padding:0;
}
.widget ul li {
	list-style-type: none;
}
.widget_recent_entries ul li a,
.widget_archive ul li a,
.widget_meta ul li a,
.widget_nav_menu ul li a,
.widget_pages ul li a,
.widget_categories ul li a {
	border-bottom:1px solid #f0f0f0;
	padding: 15px 0;
	display:block;
}
.widget_recent_entries a:hover,
.widget_archive ul li a:hover,
.widget_meta ul li a:hover,
.widget_nav_menu ul li a:hover,
.widget_pages ul li a:hover,
.widget_categories ul li a:hover {}

.widget_smt_comments .comment_avatar img,
.widget_smt_posts img {
	float:left;
	margin:0 10px 10px 0;
}
.widget_smt_comments .comment_author {
	font-size:14px;
}
.widget_smt_comments a {
	text-decoration:none;
}
.widget_smt_posts .post-date {
}
.widget_smt_posts .title {
	display: block;
	margin-top: 5px;
}
.widget_smt_posts p {
	font-size:13px;
}
.widget_smt_posts ul li,
.widget_smt_comments ul li,
.widget_recent_comments ul li  { display:block;	padding:10px 0; }


/* ========================================= FOOTER. ========================================= */
footer {
	color:#a4a7b0;
	background:url(images/footer.png) bottom 40px center no-repeat;
}
footer .widget a, footer a {
	color:#fff;
}
footer .widget a:hover, footer a:hover {
	color:#3172e9;
}
footer .footer_txt {
	padding:15px 0;	
	background:#191a1e;
	color:#fff;
}
footer .footer_txt a {
	color:#3172e9;
	text-decoration:none;
}
footer .widget {
	padding-top:30px;
}
footer .widget .caption  h4 {
	color:#fff;
}
footer .widget_archive ul li a,
footer .widget_meta ul li a,
footer .widget_nav_menu ul li a,
footer .widget_pages ul li a,
footer .widget_categories ul li a {
	border-color:#3a3c44;
}
footer .widget_archive ul li a:hover,
footer .widget_meta ul li a:hover,
footer .widget_nav_menu ul li a:hover,
footer .widget_pages ul li a:hover,
footer .widget_categories ul li a:hover {}
footer .widget_smt_posts .post-date {
	
}